//
   Created by jamiecho on 7/11/16.

- var fields = ['countryID','nationalID','location','time','comments','name','email','phone','address','city','state','zipcode'];

mixin EntryFormat(entry)
    tr
        td
            image(src=entry.photo width="300px",height="300")
        each field in fields
            td
                p=entry[field]

html(lang="en")
    head
        title testMySQL
        style.
            table,th,td{
             border : 1px solid black;
            }
    body
        div
            table
                tr
                    th photo
                    each field in fields
                        th #{field}
                each entry in entries
                    +EntryFormat(entry)