//
   Created by jamiecho on 7/11/16.
mixin FileFormat(file)
    tr
        td
            a(href=file.path, download) #{file.description}

html(lang="en")
    head
        title testMySQL
    body
        table
            tr
                th file
            each file in files
                +FileFormat(file)